.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:gray;
    padding: 15px 7%;
}
.search-box{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline:0;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




